# Flutter/Dart specific
.dart_tool/
.packages
build/
.flutter-plugins
.pub-cache/
.pub/
*.lock
*.iml
.idea/
.vscode/

# Ignore build, doc output, and backups
build/
doc/api/
backups/

# Ignore build, doc output, and backups
build/
doc/api/
backups/
